header{
    width: 100%;
    height: 20vh;
    position: relative;
    outline: 3px solid var(--estructura);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    width: 96%;
    height: 96%;
    position: relative;
    outline: 2px solid var(--estructura_hijo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_title{
    width: 40%;
    height: 80%;
    outline: 2px solid var(--estructura_hijo-subhijo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_title img{
    max-width: 313px;
    width: 100%;
}